# Exploratory Data Analysis on FIFA 21 Dataset

In [1]:
import org.apache.spark.sql._
import org.apache.spark.sql.functions._

In [2]:
val spark = SparkSession
  .builder
  .appName("EDA_Using_Spark")
  .master("local[*]")
  .getOrCreate()

In [3]:
import spark.implicits._
val df = spark.read
  .option("header", "true")
  .option("inferSchema", "true")
  .csv("/home/hosniadel/IdeaProjects/EDA-Using-Spark/data/fifa_dataset/players_21.csv")
  .select("sofifa_id", "short_name", "age", "height_cm",
                "weight_kg", "nationality",
                "club_name", "league_name", "league_rank",
                "overall", "value_eur", "player_positions",
                "preferred_foot", "international_reputation", "loaned_from",
                "passing", "shooting", "dribbling",
                "defending", "physic", "skill_ball_control")
                
df.printSchema()
df.createOrReplaceTempView("fifa")

In [4]:
%spark
val query_1 = df.dropDuplicates("short_name", "nationality")
            .select("nationality")
            .groupBy("nationality")
            .agg(count("nationality").as("players count"))
            .orderBy(desc("players count"))
query_1.show()
query_1.createOrReplaceTempView("query_1")

In [5]:
%sql
SELECT SUM(`players count`) AS `Total number of players in fifa 21` FROM query_1;

In [6]:
%sql
SELECT * FROM query_1;

## Second Query

In [8]:
val query_2 = df.dropDuplicates("short_name")
            .select("age")
            .groupBy("age")
            .agg(count("age").as("players count"))
            .orderBy(desc("players count"))
query_2.show()
query_2.createOrReplaceTempView("query_2")

In [9]:
%sql
SELECT * FROM query_2;

In [10]:
%sql
-- Get the oldest and youngest players
SELECT MAX(age) AS `Maximum player age`, MIN(age) AS `Minimum player age` FROM query_2;

In [11]:
%sql
-- Get info about the oldest player
SELECT * FROM fifa WHERE age IN (SELECT MAX(AGE) FROM queRy_2);

In [12]:
%sql
-- Get info about the youngest players
SELECT * FROM fifa WHERE age IN (SELECT MIN(AGE) FROM queRy_2);

In [13]:
%sql
-- Get info about the youngest and expensive player
SELECT * FROM fifa WHERE age IN (SELECT MIN(AGE) FROM queRy_2) order by value_eur DESC LIMIT 1;

In [14]:

val query_3 = df.select("*")
            .filter(col("club_name").isNull)
            .groupBy("nationality")
            .agg(count("short_name").as("players count"))
            .orderBy(desc("players count"))
            
        
            
query_3.show()
            
query_3.createOrReplaceTempView("query_3")

In [15]:
%sql
select * from query_3;

In [16]:
%spark
// For each club, divide players into age groups: juniors in the range of 18 to 21, mid-age players in the range of 22 to 26, and seniors in the range of 27 and above. Then, determine the most effective age group within each team.
df.filter(col("league_name").contains("English Premier")).select(col("*"), when(col("age") >= 18 && col("age") <= 21, "junior").when(col("age") >= 22 && col("age") <= 26, "mid").when(col("age") >= 27, "senior").otherwise("UNKOWN").alias("Age Group"))
    .groupBy("club_name", "Age Group")
    .pivot("Age Group")
    .agg(avg("overall"))
    .groupBy("club_name").agg(avg("junior").as("Average performance of juniors"), avg("mid").as("Average performance of mid"), avg("senior").as("Average performance of seniors"), avg("UNKOWN").as("Average performance of others"))
    .na.fill(0)
    .createOrReplaceTempView("age_groups_per_team_premier_league")

In [17]:
%sql
select * from age_groups_per_team_premier_league order by club_name;

In [18]:
%spark
// For each club, divide players into age groups: juniors in the range of 18 to 21, mid-age players in the range of 22 to 26, and seniors in the range of 27 and above. Then, determine the most effective age group within each team.
df.select(col("*"), when(col("age") >= 18 && col("age") <= 21, "junior").when(col("age") >= 22 && col("age") <= 26, "mid").when(col("age") >= 27, "senior").otherwise("UNKOWN").alias("Age Category"))
    .groupBy("club_name", "Age Category")
    .pivot("Age Category")
    .agg(avg("overall"))
    .groupBy("club_name").agg(avg("junior").as("Average performance of juniors"), avg("mid").as("Average performance of mid"), avg("senior").as("Average performance of seniors"), avg("UNKOWN").as("Average performance of others"))
    .na.fill(0)
    .createOrReplaceTempView("age_groups_per_team")

In [19]:
%sql
SELECT * FROM age_groups_per_team WHERE club_name IS NOT NULL ORDER BY club_name ASC LIMIT 100;

In [20]:
%spark
// Average age in each club

df.select("club_name", "age")
    .na.drop("all", Seq("club_name"))
    .groupBy("club_name")
    .agg(ceil(avg("age")).alias("age"))
    .orderBy(desc("age"))
    .createOrReplaceTempView("query_4")

In [21]:
%sql
SELECT * FROM query_4;

In [22]:
%spark
df.select("preferred_foot")
            .groupBy("preferred_foot")
            .count
            .orderBy(desc("count"))
            .createOrReplaceTempView("query_5")

In [23]:
%sql
SELECT * FROM query_5

In [24]:
%spark
// The most 100 player with high international reputation
df.select("short_name", "international_reputation")
            .orderBy(desc("international_reputation"))
            .limit(100)
            .createOrReplaceTempView("query_6")

In [25]:
%sql
SELECT * FROM query_6;

In [26]:
%spark
// The most expensive 100 players
df.select("short_name", "value_eur")
    .orderBy(desc("value_eur"))
    .limit(100)
    .createOrReplaceTempView("query_7")

In [27]:
%sql
SELECT * FROM query_7;

In [28]:
%spark
// The most 100 expensive clubs
df.groupBy("club_name")
    .agg(sum("value_eur").alias("total_value"), count("short_name").alias("Number of players"))
    .orderBy(desc("total_value"))
    .limit(100)
    .createOrReplaceTempView("query_8")

In [29]:
%sql
SELECT * FROM query_8

In [30]:
%spark

df.select("short_name", "club_name", "value_eur")
            .filter(df("club_name").isNotNull && df("value_eur").isNotNull)
            .filter(df("nationality").like("Egypt"))
            .orderBy(desc("value_eur"))
            .limit(10)
            .createOrReplaceTempView("query_9")

In [31]:
%sql
SELECT * FROM query_9;

In [32]:
%spark
df.filter(col("league_name").contains("Premier"))
    .select("short_name", "club_name", "skill_ball_control")
    .orderBy(desc("skill_ball_control"))
    .limit(100)
    .createOrReplaceTempView("query_10")

In [33]:
%sql
SELECT * FROM query_10;

In [34]:
%%sql